@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

*{
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(185, 41%, 84%);
}

.title{
    text-align: center;
}

.card{
    width: 65%;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
    border-radius: 10px;
}

.left-card{
    margin: 20px;
    width: 33%;
    background-color: hsl(0, 0%, 100%);
    padding: 10px;
}

.right-card{
    margin: 20px;
    width: 33%;
    background-color: hsl(183, 100%, 15%);
    padding: 10px;
    border-radius: 10px;
}

.discount-input{
    display: none;
}

.discount-label{
    background-color: hsl(183, 100%, 15%);
    text-align: center;
    width: 33%;
    padding: 5px 5px;
    border-radius: 5px;
}

.discount-label:hover{
    cursor: pointer;
}

.discount-input:checked + label{
    background-color: hsl(172, 67%, 45%);
}

.card-inputs{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-inputs-row{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.discount-custom{
    background-color: hsl(189, 41%, 97%);
    text-align: center;
    width: 33%;
    padding: 5px 5px;
    border-radius: 5px;
}

.number-people{
    width: 100%;
    text-align: right;
    padding: 5px;
    font-size: 24px;
    border-radius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance:none;
    margin: 3px;
}